.generatedPdfSection {
  height: 99vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.page {
  display: flex;
  flex-direction: row;
  background-color: #e4e4e4;
}

.section {
  margin: 10;
  padding: 10;
  flex-grow: 1;
}